<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.best.alpha.mapper.CategoryMapper">

    <resultMap id="categoryMap" type="org.best.alpha.entity.CategoryPo">
        <id column="id" property="id"/>
        <result column="category_name" property="categoryName"/>
    </resultMap>

    <insert id="put" parameterType="org.best.alpha.entity.CategoryPo">
        <selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO categories(category_name) VALUES (#{categoryName})
    </insert>

    <update id="update" parameterType="CategoryPo">
        UPDATE categories set category_name = #{categoryName} WHERE id = #{id}
    </update>

    <delete id="remove" parameterType="java.lang.Integer">
        DELETE FROM categories WHERE categories.id = #{id}
    </delete>

    <select id="findById" parameterType="java.lang.Integer" resultMap="categoryMap">
        SELECT * FROM categories AS c WHERE c.id = #{id}
    </select>

    <select id="getAll" parameterType="java.lang.String" resultMap="categoryMap">
        SELECT * FROM categories
    </select>

    <select id="findByCategoryName" parameterType="java.lang.String" resultMap="categoryMap">
        SELECT * FROM categories AS c WHERE c.category_name = #{categoryName}
    </select>

</mapper>